    <div style="display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;">
    <div class="container" style="background: #3f51b5;
    border-radius: 10px;">
        <mat-card class="p-0">
            <div class="row">
                <div class="col m-5">
                    <mat-card-title>Login</mat-card-title>
                    <form>
                        <div class="row mt-3">
                            <div class="col">
                                <mat-form-field class="input-text-fullwidth" apperance="fill">
                                    <mat-label>Username</mat-label>
                                    <input matInput type="text" placeholder="Your username" />
                                    <mat-icon matSuffix>account_circle</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <mat-form-field class="input-text-fullwidth" apperance="fill">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" placeholder="Your password" />
                                    <mat-icon matSuffix>lock</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <mat-checkbox>Remember me</mat-checkbox>
                            </div>
                            <div class="col">
                                <span>Forgot password?</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <button mat-raised-button color="primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col login-background">
                    <p class="text-center font-size-h1">Welcome</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>
